<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telegram Search</title>

    <script src="/resources/js/main.js"></script>
    <link rel="stylesheet" href="/resources/css/main.css"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

</head>
<body>
<div class="container justify-content-center">


    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-md-12">
                <h1>Search</h1>
                <form id="form-search-message">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="body" placeholder="Search for text"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default no-border" type="button" onclick="searchForMessages()"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <div class="row">
                                <label class="custom-control custom-checkbox mr-sm-2 mb-2">
                                    <input type="checkbox" class="custom-control-input" name="author" onchange="check(this)"/>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Author</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="custom-control custom-checkbox  mr-sm-2 mb-2">
                                    <input type="checkbox" class="custom-control-input" name="channel" onchange="check(this)"/>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Channel</span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <input type="text" class="form-control" name="authorParam" placeholder="" disabled=''/>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control" name="channelParam" placeholder="" disabled=''/>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">-->


                        <!--<div class="form-inline">-->
                                <!--<label class="custom-control custom-checkbox">-->
                                    <!--<input type="checkbox" class="custom-control-input" name="author" onchange="check(this)">-->
                                    <!--<span class="custom-control-indicator"></span>-->
                                    <!--<span class="custom-control-description">Author</span>-->
                                <!--</label>-->

                                <!--<input type="text" class="form-control" name="authorParam" placeholder=""/>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                        <!--<div class="col form-inline">-->
                            <!--<label class="custom-control custom-checkbox">-->
                                <!--<input type="checkbox" class="custom-control-input" name="channel" onchange="check(this)">-->
                                <!--<span class="custom-control-indicator"></span>-->
                                <!--<span class="custom-control-description">Channel</span>-->
                            <!--</label>-->
                            <!--<input type="text" class="form-control" name="channelParam" placeholder=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
        </div>

    <div id="search-results-container">
        <!--Generated block-->
        <div class="row d-none">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"> Some title</h5>
                        <p class="card-text">some value here</p>
                        <p class="card-text text-muted">author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<script>
    function addSearchResult(message) {
        var html =  '<div class="row">' +
                        '<div class="col-md-12">' +
                            '<div class="card mb-3">' +
                                '<div class="card-body">' +
                                    '<h5 class="card-title">' + message.channel + '</h5>' +
                                    '<p class="card-text">' + message.body +'</p>' +
                                    '<p class="card-text text-muted">' + message.author + '</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>';
        $("#search-results-container").append(html);
    }

    function displaySearchResults(data) {
        $("#search-results-container").empty();
        data.forEach(addSearchResult);
    }

    function check(el) {
        var element = $("[name='" + el.name + "Param" + "']:first");
        if (el.checked) {
            element.removeAttr('disabled');
        } else {
            element.attr('disabled', '');
            element.val('');
        }
    }

    function searchForMessages() {
        var formData = serializeFormData('#form-search-message');

        var searchParams = {
            body: formData.body,
            author: $("[name='author']:first").is(":checked") ? $("[name='authorParam" + "']:first").val() : "",
            channel: $("[name='channel']:first").is(":checked") ? $("[name='channelParam" + "']:first").val() : ""
        };

        var params = {
            url: '/api/message/',
            data: JSON.stringify(searchParams),
            success: displaySearchResults
        };

        sendJsonPayload(params);
    }

    $("#form-search-message").submit(function(e) {
        e.preventDefault();
        searchForMessages();
    });
</script>

</body>
</html>