<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Telegram Search</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>

    <script src="/resources/js/main.js"></script>
    <link rel="stylesheet" href="/resources/css/main.css"/>
</head>
<body>
<div class="container justify-content-center" id="main">
    <div class="col-md-8 offset-md-2">
        <div class="row mb-4">
            <div class="col-md-12">
                <h1 class="text-center">Admin page</h1>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item" v-for="channel in channelStats">
                        {{channel.name}}
                        <span class="fa fa-times delete-channel" v-on:click="deleteChannel"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>
    var state = {};
    var data = {
        channelStats: [
            {
                name: "x"
            },
            {

                name: "y"
            }
        ],
        totalStats: {
            loaded: false,
            messages: 0,
            time: 0
        }
    };
    var vm = new Vue({
        el: "#main",
        data: data,
        methods: {
            deleteChannel: function (event) {
//                console.log(event.target.parentNode.textContent.trim());
                var result = confirm("You really want to delete this channel?");
                if (result) {
                    deleteChannel(event.target.parentNode.textContent.trim());

                    loadChannels();
                    //delete channel
                    //reload channels
                }
            }
        }
    });

    $(function(){
        loadChannels();
    });
</script>


<script>

    function deleteChannel(channelName) {
        var params = {
            url: '/api/admin/channels/name/' + channelName,
            method: 'DELETE',
            success: function (response) {
                console.log(response.status);
                if (response.status == 'ok') {
                    loadChannels();
                }
            }
        };
        sendJsonPayload(params);
    }

    function loadChannels() {
        var params = {
            url: '/api/admin/stats/messages',
            method: 'GET',
            success: function(response) {
                if (response.status == 'ok') {
                    data.channelStats = response.stats.statistics;
                    data.totalStats = response.stats.total;
                    data.totalStats.loaded = true;
                }
            }
        };
        sendJsonPayload(params);
    }

    function searchForMessages() {
        var searchParams = {
            body: $('#body-text').val(),
            author: getInputString('author'),
            channel: getInputString('channel')
        };

        var params = {
            url: '/api/message/',
            data: JSON.stringify(searchParams),
            success: function(response) {
                if (response.status == 'ok') {
                    response.messages.forEach(function (message) {
                        message.header = message.author;
                        if (message.channel && message.channel != message.author) {
                            message.header += ' @ ' + message.channel;
                        }
                    });
                    data.messages = response.messages;
                }
            }
        };

        sendJsonPayload(params);
    }
</script>

</body>
</html>