<!DOCTYPE html>
<head>
    <title>Telegram Search</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"/>

    <script src="/resources/js/main.js"></script>
    <link rel="stylesheet" href="/resources/css/main.css"/>
</head>
<body>
<div class="container justify-content-center d-none" id="main">
    <div class="col-md-8 offset-md-2">
        <div class="row mb-4">
            <div class="col-md-12" id="alert-container">

            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <h1>Search</h1>
                <form id="form-search-message">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control" name="body" id="body-text" placeholder="" v-model="input.body"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-light" type="button" onclick="searchForMessages()"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt">
                        <div class="col-auto">
                            <a class="small text-muted" role="button" id="author"><span>Author: </span><span>{{input.author || input.placeholder}}</span></a>
                        </div>
                        <div class="col-auto">
                            <a class="small text-muted" role="button" id="channel"><span>Channel: </span><span>{{input.channel || input.placeholder}}</span></a>
                        </div>
                        <div class="col-auto">
                            <a class="small text-muted" role="button" id="date-from"><span>From: </span><span>{{ startDateText }}</span></a>
                        </div>
                        <div class="col-auto">
                            <a class="small text-muted" role="button" id="date-to"><span>To: </span><span>{{endDateText}}</span></a>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    <div id="search-results-container">
        <!--Generated block-->
        <div class="row" v-for="message in messages">  <!-- class 'd-none' -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{message.header}}</h5>
                        <p class="card-text text-justify" style="white-space: pre-wrap;">{{message.body}}</p>
                        <p class="card-text text-muted">{{formatDate(message.timestamp)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js"></script>
<script src="/resources/js/bootstrap-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>
    var state = {};
    var data = {
        messages: [],
        input: {
            startDate: undefined,
            endDate: undefined,
            author: undefined,
            channel: undefined,
            placeholder: "Empty"
        }
    };
    var vm = new Vue({
        el: "#main",
        data: data,
        computed: {
            startDateText: function() {
                if (this.input.startDate) {
                    console.log(this.input.startDate);
                    return formatDate(this.input.startDate);
                } else {
                    return this.input.placeholder;
                }
            },
            endDateText: function() {
                if (this.input.endDate) {
                    return formatDate(this.input.endDate);
                } else {
                    return this.input.placeholder;
                }
            },
            loading: function () {
                return false;
            }
        },
        methods: {
            formatDate: formatDate
        }
    });

    $(function(){
        $('#author').editable({
            title: 'Enter author',
            type: 'text',
            highlight: false,
            display: false,
            value: '',
            unsavedclass: null,
            send: 'never',
            success: function(response, newValue) {
                data.input.author = newValue;
            }
        });

        $('#channel').editable({
            title: 'Enter channel',
            type: 'text',
            highlight: false,
            display: false,
            value: '',
            unsavedclass: null,
            send: 'never',
            success: function(response, newValue) {
                data.input.channel = newValue;
            }
        });
        $('#date-from').editable({
            title: 'Enter start date',
            type: 'date',
            clear: 'Clear',
            highlight: false,
            display: false,
            value: '',
            unsavedclass: null,
            send: 'never',
            success: function(response, newValue) {
                data.input.startDate = newValue;
            }
        });
        $('#date-to').editable({
            title: 'Enter end date',
            type: 'date',
            clear: 'Clear',
            highlight: false,
            display: false,
            value: '',
            unsavedclass: null,
            send: 'never',
            success: function(response, newValue) {
                data.input.endDate = newValue;
            }
        });
        $("#main").removeClass("d-none");
    });

</script>


<script>
    function searchForMessages() {
        var params = {
            url: '/api/message/params',
            data: JSON.stringify(data.input),
            ok: function(response) {
                response.messages.forEach(function (message) {
                   message.header = message.author;
                   if (message.channel && message.channel != message.author) {
                       message.header += ' @ ' + message.channel;
                   }
                });
                data.messages = response.messages;
            }
        };

        sendJsonPayload(params);
    }

    $("#form-search-message").submit(function(e) {
        e.preventDefault();
        searchForMessages();
    });
</script>

</body>
</html>