<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telegram Search</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"/>

    <script src="/resources/js/main.js"></script>
    <link rel="stylesheet" href="/resources/css/main.css"/>
</head>
<body>
<div class="container justify-content-center" id="main">
    <div class="col-md-8 offset-md-2">
        <div class="row mb-4">
            <div class="col-md-12">
                <h1>Search</h1>
                <form id="form-search-message">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control" name="body" id="body-text" placeholder=""/>
                                <span class="input-group-btn">
                                    <button class="btn btn-light" type="button" onclick="searchForMessages()"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt">
                        <div class="col-auto">
                            <a class="small text-muted" role="button" onclick="showInput('author')" id="author"><span>Author: </span><span id="author-text" empty="">None</span></a>
                        </div>
                        <div class="col-auto">
                            <a class="small text-muted" role="button" onclick="showInput('channel')" id="channel"><span>Channel: </span><span id="channel-text"  empty="">None</span></a>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    <div id="search-results-container">
        <!--Generated block-->
        <div class="row" v-for="message in messages">  <!-- class 'd-none' -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{message.channel}}</h5>
                        <p class="card-text">{{message.body}}</p>
                        <p class="card-text text-muted">{{message.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>
    var state = {};
    var data = {
        messages: [],
        test: "test here!"
    };
    var vm = new Vue({
        el: "#main",
        data: data
    });
</script>


<script>
    var popover = null;
    var popoverField = null;

    function saveInput(value) {
        var input = value == undefined ? $('#' + popoverField + "-input").val() : value;
        var textElement = $('#' + popoverField + '-text');
        if (input == '') {
            textElement.attr('empty', '');
            textElement.html('None');
        } else {
            textElement.removeAttr('empty');
            textElement.html(input);
        }

        dismissInput();
    }

    function dismissInput() {
        if (popover != null) {
            popover.popover('dispose');
        }
        popover = null;
    }

    function popoverKey(key) {
        if (key == 13) {
            saveInput();
        } else if (key == 27) {
            dismissInput();
        }

    }

    function showInput(element) {
        popoverField = element;
        var htmlTemplate = '<div class="row" onblur="dismissInput()">' +
                                '<div class="col"><input type="text" class="form-control" value="' + getInputString(element) +'" id="' + element + '-input" onkeydown="popoverKey(event.keyCode)"/></div>' +
                                '<div class="col-md-auto pl-0"><a class="btn btn-light" role="button" onclick="saveInput()"><span class="fa fa-check"></span></a></div>' +
                                '<div class="col-md-auto pl-0"><a class="btn btn-light" role="button" onclick="saveInput(\'\')"><span class="fa fa-close"></span></a></div>' +
                            '</div>';

        if (popover == null) {
            popover = $('#' + element).popover({
                content: htmlTemplate,
                html: true,
                placement: 'bottom',
                trigger: 'manual'
            });

            popover.popover('show');


            var input = document.getElementById(element + "-input");
            input.focus();
            input.select();

        }
    }

    function getInputString(elementId) {
        var element = $('#' + elementId + '-text:not([empty])');
        if (element.length > 0) {
            return element[0].textContent;
        } else {
            return '';
        }
    }

    function searchForMessages() {
        var searchParams = {
            body: $('#body-text').val(),
            author: getInputString('author'),
            channel: getInputString('channel')
        };

        var params = {
            url: '/api/message/',
            data: JSON.stringify(searchParams),
            success: function(response) {
                data.messages = response.messages;
            }
        };

        sendJsonPayload(params);
    }

    $("#form-search-message").submit(function(e) {
        e.preventDefault();
        searchForMessages();
    });
</script>

</body>
</html>